# System folders
*.idea/
.idea/
1.idea/
*.__pycache__/
__pycache__/
*/__pycache__
venv/
*.DS_Store


# PyCache
*/__pycache__/*
advertisements/__pycache__/
advertisements/advertisements/__pycache__/
advertisements/application_windows/__pycache__/


# Migrate
advertisements/application/migrations
advertisements/main/migrations
advertisements/user/migrations


# Database
data/db.sqlite3


# Media
advertisements/media/application_windows
advertisements/media/application_android
advertisements/device/data.py
log/


# Django Project Keys
advertisements/advertisements/secrets.py
certificates/
certificate.crt
certificate.key
.env


# Static
advertisements/static/admin
advertisements/static/django_extensions
advertisements/staticfiles
