# System folders
*.idea/
.idea/
1.idea/
*.__pycache__/
__pycache__/
*/__pycache__
venv/
*.DS_Store


# PyCache
*/__pycache__/*
advertisements/__pycache__/
advertisements/advertisements/__pycache__/
advertisements/application/__pycache__/


# Migrate
advertisements/application/migrations


# Database
data/db.sqlite3


# Media
advertisements/media/advertisements/image
advertisements/media/advertisements/files

advertisements/media/application_windows
advertisements/media/application_android


# Django Project Keys
advertisements/advertisements/secrets.py
certificates/
certificate.crt
certificate.key
.env


# Instructions
