{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ advertisement.name }}
{% endblock %}

{% block meta_description %}
    Serphantom Space - {{ advertisement.name }}.
    {{ meta }}
{% endblock %}

{% block active %}active{% endblock %}

{% block content %}
<div class="bg-black">

<div style="margin: 30px;"></div>
    <div class="container overflow-hidden text-center">
        <div class="d-grid gap-3 mx-auto">
              <div class="display-5">
                <span class="badge bg-primary">{{ advertisement.name }}</span>
              </div>
        </div>
    </div>
            <div style="margin: 10px;"></div>

<div class="container bg-black d-flex justify-content-center align-items-center">
    <div class="card mb-2 bg-black bg-gradient p-3" style="max-width: 1000px; margin-top: 20px;">
      <div class="row g-2 d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                {% if advertisement.image_application_main %}
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% endif %}
                {% if advertisement.image_application_2 %}
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                {% endif %}
                {% if advertisement.image_application_3 %}
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
                {% endif %}
                {% if advertisement.image_application_4 %}
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3" aria-label="Slide 4"></button>
                {% endif %}
                {% if advertisement.image_application_5 %}
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="4" aria-label="Slide 5"></button>
                {% endif %}
              </div>
              <div class="carousel-inner">
                {% if advertisement.image_application_main %}
                <div class="carousel-item active">
                    <a href="{% if advertisement.image_application_main %} {{ advertisement.image_application_main.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}">
                        <img src="{% if advertisement.image_application_main %} {{ advertisement.image_application_main.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}" class="img-fluid rounded" alt={{ advertisement.name }}>
                    </a>
                </div>
                {% endif %}
                {% if advertisement.image_application_2 %}
                <div class="carousel-item">
                    <a href="{% if advertisement.image_application_2 %} {{ advertisement.image_application_2.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}">
                        <img src="{% if advertisement.image_application_2 %} {{ advertisement.image_application_2.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}" class="img-fluid rounded" alt={{ advertisement.name }}>
                    </a>
                </div>
                {% endif %}
                {% if advertisement.image_application_3 %}
                <div class="carousel-item">
                    <a href="{% if advertisement.image_application_3 %} {{ advertisement.image_application_3.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}">
                        <img src="{% if advertisement.image_application_3 %} {{ advertisement.image_application_3.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}" class="img-fluid rounded" alt={{ advertisement.name }}>
                    </a>
                </div>
                {% endif %}
                {% if advertisement.image_application_4 %}
                <div class="carousel-item">
                    <a href="{% if advertisement.image_application_4 %} {{ advertisement.image_application_4.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}">
                        <img src="{% if advertisement.image_application_4 %} {{ advertisement.image_application_4.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}" class="img-fluid rounded" alt={{ advertisement.name }}>
                    </a>
                </div>
                {% endif %}
                {% if advertisement.image_application_5 %}
                <div class="carousel-item">
                    <a href="{% if advertisement.image_application_5 %} {{ advertisement.image_application_5.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}">
                        <img src="{% if advertisement.image_application_5 %} {{ advertisement.image_application_5.url }} {% else %} {% static 'img/404/404-not-found.jpg' %} {% endif %}" class="img-fluid rounded" alt={{ advertisement.name }}>
                    </a>
                </div>
                {% endif %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
              </button>
            </div>
        </div>


      <div class="col-md-12">
          <div class="card-body">
            <h1 class="card-title">
              <strong class="badge bg-primary">{{ advertisement.name }}</strong>
            </h1>
              <p></p>
                  <h3>
                    <strong class="text-white">{{ advertisement.title }}</strong>
                  </h3>
                    <p></p>
                  <strong class="card-text text-white">
                    {{ advertisement.short_description }}
                  </strong>
                    <p></p>
                  <strong class="card-text text-white">
                    {{ advertisement.full_description }}
                  </strong>
                    <p></p>
                  <strong class="card-text text-white">
                    {% if advertisement.verified %}{{ verified }}
                    {% else %}{{ not_verified }}{% endif %}
                  </strong>
                    <p></p>
              <div class="col-auto">
                  <a href="{{ advertisement.file_main.url }}" download={{ advertisement.name }} type="submit" class="btn btn-primary mb-2 btn-outline-dark text-light">Скачать {{ advertisement.name_file_main }}</a>
                  {% if advertisement.file_additional %}
                      <a href="{{ advertisement.file_additional.url }}" download={{ advertisement.name }} type="submit" class="btn btn-primary mb-2 btn-outline-dark text-light">Скачать {{ advertisement.name_file_additional }}</a>
                  {% endif %}
                  <form action="" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="thanks" value="true">
                      <button type="submit" class="btn btn-primary btn-outline-dark text-light">Спасибо! {{ advertisement.number_thanks }}</button>
                  </form>
                  {% if user.is_superuser or user.username == "mirrostate" or user.username == "Hefranterm" %}
                      {% if advertisement.verified == False %}
                          <form action="" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="verified True" value="true">
                              <button type="submit" class="btn btn-primary btn-outline-dark text-light">Файл проверен! ✅</button>
                          </form>
                      {% else %}
                          <form action="" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="verified False" value="true">
                              <button type="submit" class="btn btn-primary btn-outline-dark text-light">Файл не проверен! ❌</button>
                          </form>
                      {% endif %}
                  {% else %}
                  {% endif %}
                  {% if user.is_superuser or user.username == "mirrostate" or user.username == "Hefranterm" %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger mb-3 btn-outline-dark text-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      Удалить {{ advertisement.name }}
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content bg-black text-white bg-gradient">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">{{ advertisement.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <h3>{{ confirmation_deletion }}</h3>
                                <p></p>
                              <span>{{ deleted }} {{ advertisement.title }} ?</span>
                          </div>
                          <div class="modal-footer">
                            <form action="" method="post">
                                {% csrf_token %}
                                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary btn-outline-dark text-light">Закрыть</button>
                            </form>
                            <form action="" method="post">
                                {% csrf_token %}
                                    <input type="hidden" name="reset" value="true">
                                    <button type="submit" class="btn btn-danger btn-outline-dark text-light">Сброс</button>
                            </form>
                            <form action="" method="post">
                                {% csrf_token %}
                                    <input type="hidden" name="delete" value="true">
                                    <button type="submit" class="btn btn-danger btn-outline-dark text-light">Удалить {{ advertisement.name }}</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% else %}
                  {% endif %}
              </div>
              <p class="card-text"><small class="text-muted">
                  Размещено: {{ advertisement.created_at|date:'d-m-Y H:i:s' }} Обновлено: {{ advertisement.updated_at|date:'d-m-Y H:i:s' }} Просмотров: {{ advertisement.number_views }}
              </small></p>
          </div>
        </div>
    </div>
  </div>
</div>


<p style="height: 45px"></p>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
</div>